// Color theme inspired by: https://pigment.shapefactory.co/?a=D93F63&b=213D55

// Primary color shades
$primary: #D93F63;
$primary-light: #F36187;
$primary-dark: #A90828;

//Secondary color shades
$secondary: #213D55;
$secondary-light: #315269;
$secondary-dark: #162F48;

// Light/dark for text over primary color
$light: #FFFFFF;
$dark: #051E37;

// Variable names
$--theme-primary: --theme-primary;
$--theme-background: --theme-background;
$--theme-foreground: --theme-foreground;