@import 'colors';
@import 'mixins';

// Color map for light theme
$theme-map-light: (
    $--theme-primary: $primary,
    $--theme-primary-contrast: $light,
    $--theme-background: #EFEFDF,
    $--theme-foreground: $light,
    $--theme-text: $dark,
);

// Color map for dark theme
$theme-map-dark: (
    $--theme-primary: $primary,
    $--theme-primary-contrast: $dark,
    $--theme-background: $secondary-dark,
    $--theme-foreground: $secondary,
    $--theme-text: $light,
);

// Default (dark) theme
:root {
  @include spread-map($theme-map-dark);
}

// Light theme
:root.light {
  @include spread-map($theme-map-light);
}

// Customize Element UI Theme
$--color-primary: $primary;
$--color-info: $secondary-light;
$--color-success: #409217;
$--color-danger: $primary-dark;

// Load ELement UI Theme
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import '~element-ui/packages/theme-chalk/src/index';

.el-form-item__label {
  color: var($--theme-text);
}

.el-input__inner {
  background-color: var($--theme-background);
  border-color: var($--theme-foreground);
  color: var($--theme-text);
}

.el-table {
  border-color: var($--theme-foreground);
  color: var($--theme-text);
  thead {
    color: var($--theme-text);
    tr {
      th {
        background-color: var($--theme-background);
        &.is-leaf {
          border-bottom: 1px solid var($--theme-primary);
        }
      }
    }
  }
  .el-table__row {
    background-color: var($--theme-background);
    td {
      border-color: var($--theme-foreground);
    }
    &.current-row > td {
      background-color: var($--theme-primary);
      color: var($--theme-primary-contrast);
    }
  }
}

.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: $primary-light;
}

.el-table--group::after, .el-table--border::after, .el-table::before {
  content: none;
}

// Import this once in main.js to apply theme root styles and Element UI theming!